html {
    font-size: 16px;   
}

body {
     margin:0;
     padding:0;
     box-sizing: border-box;
     font-family:verdana, arial, sans- serif;
} 

.wrapper  {
      max-width: 940px;
      margin: 0 auto;
      padding: 0;
      padding-left: 20px;
      padding-right: 20px;
      /* border: 1px solid #000; */
}
/* **** LARGE SCREENS **** */ 
@media only screen and (min-width: 950px) {
    .wrapper {
        max-width: 1300px;
    }
}


            
#header {  
      background-color: #617140;       
      margin: 0; 
      padding: 20px 0; 
}

#header h1  {
      width: 100%;
      display: block;
      padding: 0;
      margin: 20px, 0;
	    color:#fff;
      line-height:10px;
      font-size: 150%;
      text-align: left;
      padding-bottom: 20px;
      padding-top: 20px;             
}

h2.pageHead {
      color: #fff;
      display: inline;
      font-size: 120%;
}

h3 {
      color: #fff;
}

@media only screen and (min-width: 648px) {
    #header h1 {
      font-size: 200%;
    }
  
    h2.pageHead {
      font-size: 150%;
    } 
}

.content-area {
	      background-color: #fff;
}

/*Address in header*/
#header p {
        width: 250px;
        font-size: 80%;
        padding-bottom: 20px;
}

#header a {
         font-size: 100%;
         color:#fff;
         text-decoration: none;
}

#header a:hover {
          color: #000;
}

.menu ul {
           display: flex;
           flex-direction: column;  
	         width: 100%;
           list-style-type: none;
           margin: 0px;
           padding: 0; /* **** THIS PADDING CONTROLS POSITION OF LI'S PARTICULARLY IN MOBILE SIZE **** */
           margin-bottom: 0px;
           padding-bottom: 20px;
}   

/* *** FOR MEDIUM AND LARGE SCREEN SIZES *** */
@media only screen and (min-width: 648px){
    .menu ul {
        flex-direction: row;    
    } 
    .menu li {  
        margin: 0;
    } 
}

 .menu li   {
          color: #fff;
          justify-content: flex-start;
          align-items: flex-start;
          padding: 3px 3px;
          border-radius: 5px;
          margin: 2px;
          margin-right: auto;         
}

.menu li:hover {
          color: #000;
          background-color: #fff;
}

.images {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    margin: 30px auto;
}

/* *** MEDIUM AND LARGE SCREEN SIZES *** */
@media only screen and (min-width: 666px) {
    .images {
        grid-gap: 10px;        
        grid-template-columns: repeat(3, 1fr);
    }
}



.box > img{
    width: 100%;
}
.box p {
  padding: 0;
}
.box{
    text-align: center;
    padding: 0px; /* ****padding used for images**** */
    border: 1px solid #000;
   /* height: 60vh;*/
}
/* ***** THIS CODE IS USED WHEN DISPLAYING IMAGES **** 
    
  **** FOR IMAGES THAT ARE NOT THE SAME SIZE ****

.image1 {
    background-image: url(bankside_images/blue_door.jpg);
    background-size: cover;
    background-position: center center;
    padding: 50%;
    }

.image2 {
    background-image: url(bankside_images/yellow_frame.jpg);
    background-size: cover;
    background-position: center center;
    padding: 50%;
}

.image3 {
    background-image: url(bankside_images/red_frame.jpg);
    background-size: cover;
    background-position: center center;
    padding: 50%;
}


.image4 {
    background-image: url(bankside_images/exterior.jpg);
    background-size: cover;
    background-position: center center;
    padding: 50%;
}

.image5 {
    background-image: url(bankside_images/green_door.jpg);
    background-size: cover;
    background-position: center center;
    padding: 50%;
}

.image6 {
    background-image: url();
    background-size: cover;
    background-position: center center;
    padding: 50%;
}
*/
.ethos          {
              width: 35%;
              background: #fff;
              padding: 20px 40px;
            box-sizing: border-box;
/*             float: left;*/
              text-align: justify;        
}


#end {
    background-color: #869900;
    padding: 20px;
    box-sizing: border-box;
}

.test{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
}

@media only screen and (max-width: 896px){

    .test {
        flex-direction: column;
        box-sizing: border-box;
    }
    #end {
        max-height: 50vmin;
    }

    .responsive {
        display: none;
    } 
}
/*
@media only screen and (min-width:897px){
    
    #content, {
        width: 60%;
        box-sizing: border-box;
    }
    .ethos {
        width: 30%;
        
    }
}
*/
.test li a{
    color: #fff;
    font-size: 100%;
    text-decoration: none;
}

    .row {  
      display: block; 
    }

    .col {
        padding: 2% 7%;
}
    
    .col-8 {
        flex: 2;
        order: 1;
        background-color: aqua;
    }
    
    .col-4 {
        flex: 1;
        order: 2;
        background-color: blueviolet;
    }

    .new {
        flex: 1;
        
        background-color: cadetblue;
}

@media only screen and (min-width: 900px) {
  .row {
        display: flex;    
    } 
  .col {
        padding-left: 5%;
        padding-right: 5%;
  }
  .new {
       padding-left: 15%;
       padding-right:15%;
  }
}

    


